<div id="nome">
    <label for="nome">Nome:</label>
    <input type="text" name="nome" [(ngModel)]="nome" />
</div>
<div id="ano">
    <label for="ano">Ano:</label>
    <input type="text" name="ano" [(ngModel)]="ano" />
</div>
<div id="genero">
    <label for="genero">Genero:</label>
    <input type="text" name="genero" [(ngModel)]="genero" />
</div>
<div id="Estudio">
    <label for="Estudio">Estudio:</label>
    <input type="text" name="Estudio" [(ngModel)]="estudio" />
</div>
<button (click)="cadastrar()">Cadastrar</button>
